html{
    font-size: 20px;
}
body{
    background-color: #749BC2;
    font-family: sans-serif;
    color: #F6F4EB;
}
header{
    display: flex;
    justify-content: end;
    padding: 1rem;
}
.form-container{
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    align-items: center;
    justify-items: center;

}

button{
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
button img{
    width: 2rem;
}

input {
    height: 1rem;
    width: 14rem;
    border: none;
    padding: .6rem;
    border-radius: 1rem;
}

.error-message{
    color: red;
    font-size: .9rem;
    text-align: center;
    padding: .5rem;
}

